@tailwind base;
@tailwind components;
@tailwind utilities;

.get-all button {
  @apply text-black rounded-lg m-2 bg-white;
  border: 12;
  padding: 16;
  margin: 8;
}

button[type="submit"] {
  @apply text-black rounded-lg m-2 bg-white;
  border: 12;
  padding: 16;
  margin: 8;
}

button {
  @apply transition duration-500 ease-in-out hover:bg-gray-400 active:animate-pulse active:duration-75 active:bg-gray-300;
}
