@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input[type="number"] {
  @apply w-20 h-9 text-black rounded-lg m-2;
  appearance: textfield;
}

/* /* input,
input[type="text"],
input[type="email"] {
  @apply w-32 h-9 text-black rounded-lg m-2 appearance-none transition duration-200 ease-in-out focus:w-52;
} */

.toggle-path {
  @apply transition-colors duration-100 ease-in-out;
}
.toggle-circle {
  @apply top-[0.2rem] left-1 transition-all duration-100 ease-in-out;
}
input:checked ~ .toggle-circle {
  @apply translate-x-full;
}
input:checked ~ .toggle-path {
  @apply bg-bnw-blue-accentLight;
}
