/* Color Theme Swatches in Hex */
.The-Parallel-World-1-hex {
  color: #8c8c88;
}
.The-Parallel-World-2-hex {
  color: #d8d9d7;
}
.The-Parallel-World-3-hex {
  color: #a6a6a4;
}
.The-Parallel-World-4-hex {
  color: #595958;
}
.The-Parallel-World-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.The-Parallel-World-1-rgba {
  color: rgba(139, 140, 136, 1);
}
.The-Parallel-World-2-rgba {
  color: rgba(216, 216, 214, 1);
}
.The-Parallel-World-3-rgba {
  color: rgba(165, 165, 164, 1);
}
.The-Parallel-World-4-rgba {
  color: rgba(89, 89, 88, 1);
}
.The-Parallel-World-5-rgba {
  color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in Hex */
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-1-hex {
  color: #f2f2f2;
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-2-hex {
  color: #a6a6a6;
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-3-hex {
  color: #595959;
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-4-hex {
  color: #262626;
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-1-rgba {
  color: rgba(242, 242, 242, 1);
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-2-rgba {
  color: rgba(165, 165, 165, 1);
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-3-rgba {
  color: rgba(89, 89, 89, 1);
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-4-rgba {
  color: rgba(38, 38, 38, 1);
}
.black-brush-strokes-oil-paints-on-white-paper.-Isolated-on-white-background.-Abstract-creative-background-5-rgba {
  color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex {
  color: #88898c;
}
.Graphic-Design-2-hex {
  color: #1c1f26;
}
.Graphic-Design-3-hex {
  color: #d9d9d9;
}
.Graphic-Design-4-hex {
  color: #404040;
}
.Graphic-Design-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba {
  color: rgba(136, 137, 140, 1);
}
.Graphic-Design-2-rgba {
  color: rgba(27, 31, 38, 1);
}
.Graphic-Design-3-rgba {
  color: rgba(216, 216, 216, 1);
}
.Graphic-Design-4-rgba {
  color: rgba(63, 63, 63, 1);
}
.Graphic-Design-5-rgba {
  color: rgba(12, 12, 12, 1);
}

/* Color Theme Swatches in Hex */
.Usechannel---Online-AI-Chatbot-Platform-1-hex {
  color: #6fa6d3;
}
.Usechannel---Online-AI-Chatbot-Platform-2-hex {
  color: #5573ae;
}
.Usechannel---Online-AI-Chatbot-Platform-3-hex {
  color: #f2f2f2;
}
.Usechannel---Online-AI-Chatbot-Platform-4-hex {
  color: #404040;
}
.Usechannel---Online-AI-Chatbot-Platform-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in RGBA */
.Usechannel---Online-AI-Chatbot-Platform-1-rgba {
  color: hsl(207, 53%, 63%);
}
.Usechannel---Online-AI-Chatbot-Platform-2-rgba {
  color: hsl(219, 33%, 20%);
}
.Usechannel---Online-AI-Chatbot-Platform-3-rgba {
  color: hsl(0, 0%, 95%);
}
.Usechannel---Online-AI-Chatbot-Platform-4-rgba {
  color: hsl(0, 0%, 25%);
}
.Usechannel---Online-AI-Chatbot-Platform-5-rgba {
  color: hsl(0, 0%, 5%);
}
